<link rel="import" href="../../bower_components/polymer/polymer.html">

<link rel="import" href="../../bower_components/iron-icons/iron-icons.html">
<link rel="import" href="../../bower_components/iron-icons/maps-icons.html">
<link rel="import" href="../../bower_components/paper-icon-button/paper-icon-button.html">
<link rel="import" href="../../bower_components/paper-material/paper-material.html">


<dom-module id="forest-controls">
  <template>
    <style include="iron-flex">
      paper-material {
        border-radius: 0 2px 2px 0;
        padding: 4px;
      }
    </style>
    <paper-material elevation="1" class="layout vertical controls-icon-panel">
      <paper-icon-button id="search" icon="icons:search" on-tap="handleSearchTap_">
      </paper-icon-button>
      <paper-icon-button id="layers" icon="maps:layers" on-tap="handleLayersTap_">
      </paper-icon-button>
    </paper-material>
  </template>
  <script src="forest-controls.js"></script>
</dom-module>
