<link rel="import" href="../../bower_components/polymer/polymer.html">

<link rel="import" href="../../bower_components/google-chart/google-chart.html">


<dom-module id="forest-chart">
  <template>
    <style>
      :host #chart-holder {
        position: relative;
        padding-bottom: 80%;
        height: 0;
        overflow: hidden;
      }
      google-chart {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
      }
      :host #chartdiv > div > div {
        width: 100%;
      }
    </style>
    <div id="chart-holder">
      <google-chart
          type="[[type]]"
          options="[[_computeChartOptions(options)]]"
          data="[[data]]"></google-chart>
    </div>
  </template>
  <script src="forest-chart.js"></script>
</dom-module>
