<link rel="import" href="../../bower_components/polymer/polymer.html">

<link rel="import" href="../../bower_components/paper-material/paper-material.html">
<link rel="import" href="../../bower_components/iron-image/iron-image.html">

<dom-module id="forest-legend">
  <template>
    <style>
      paper-material {
        border-radius: 0 2px 2px 0;
      }
      #title {
        padding-top: 2px;
        padding-bottom: 8px;
      }
    </style>
    <paper-material elevation="1">
      <div id="title"></div>
      <div id="svgAnchor"></div>
    </paper-material>
  </template>
  <script src="forest-legend.js"></script>
</dom-module>
