name: CI - Ubuntu Linux
on: [push, pull_request]

jobs:
  test-ubuntu:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: [
            "3.7",
            "3.8",
            "3.9",
            "3.10",
            "3.11",
            "3.12",
        ]
    steps:
      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python-version }}
      - uses: actions/checkout@v3
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r python/requirements.txt
          pip install ./python
      - name: Test Python Versions
        run: |
          python -c "import ee"
