name: Publish to NPM
on:
  release:
    types: [published]

jobs:
  publish-npm:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v3
        with:
          node-version: 16
          registry-url: https://registry.npmjs.org/
      - run: |
          cd javascript/
          npm i
          npm publish
        env:
          NODE_AUTH_TOKEN: ${{secrets.NPM_API_TOKEN}}
